.float-container{
	height:375px;
	width: 550px;
	margin:0 auto;
	margin-top:40px;
}

.float-child-1{
	width: 50%;
	float: left;
}

.float-child-2{
	width: 50%;
	float: left;
}

.mainbox{
	background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
	height:375px;
	width: 275px;
	margin: 0 auto;
	border-radius: 25px;
	padding: 20px 35px 20px;
	box-sizing: border-box;
}

p, h1, float-child-1{
	font-family:Hanken Grotesk;
	font-weight:800;
	}

p{
	opacity: 0.6;
}
.yourresult{
	color: white;
	font-size: 15px;
	opacity: 0.6;
	font-weight:700;
	text-align:center;
}

.outofresult{
	margin:-34px;
	font-size: 13px;
	color: white;
	opacity:0.4;
	text-align:center;
}

.score{
	color: white;
	font-size: 50px;
	text-align:center;
}

.scorecircle{
	margin: 20px auto;
	padding: 3px;
	background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
	width:150px;
	height:150px;
	border-radius:50%;
	text-align: center;
	box-sizing: border-box;
}

.great{
	color: white;
	font-size:25px;
	text-align:center;
}

.conclusion{
	color: white;
	font-size: 14px;
	text-align:center;
}

.summary .summary1 .summary2 .summary3 .summary4{
	color:black;
}


.float-child-2{
	text-align: left;
	font-family: Hanken Grotesk;
	box-sizing: border-box;
	padding:15px 25px 10px;
	font-size: 10px;
	height:375px;
	width: 275px;
	margin: 0 auto;
	border-radius: 25px;
	padding: 20px 35px 20px;
	box-sizing: border-box;
}

.summary1{
	border-radius:5px;
	height: 40px;
	width:200px;
	background-color: hsla(0, 100%, 67%,0.1);
	padding:5px 20px 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-elements:center;
	margin-bottom:15px;
	color:hsl(0, 100%, 67%);
}


.summary1left{
	flex:1;
}

.summary1right{
	float:right;
}


.summary2{
	border-radius:5px;
	height: 40px;
	width:200px;
	background-color: hsla(39, 100%, 56%, 0.1);
	padding:5px 20px 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-elements:center;
	margin-bottom:15px;
}


.summary2left{
	flex:1;
}

.summary2right{
	float:right;
}

.summary3{
	border-radius:5px;
	height: 40px;
	width:200px;
	background-color: hsla(166, 100%, 37%, 0.1);
	padding:5px 20px 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-elements:center;
	margin-bottom:15px;
}


.summary3left{
	flex:1;
}

.summary3right{
	float:right;
}

.summary4{
	border-radius:5px;
	height: 40px;
	width:200px;
	background-color: hsla(234, 85%, 45%, 0.1);
	padding:5px 20px 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-elements:center;
	margin-bottom:30px;
}


.summary4left{
	flex:1;
}

.summary4right{
	float:right;
}

.continue{
	border-radius:20px;
	height: 40px;
	width:200px;
	background-color: hsl(224, 30%, 27%);
	opacity:100%;
	padding:5px 20px 5px;
	box-sizing: border-box;
	align-elements:center;
	color:white;
	text-align:center;
	padding-top:13px;
	font-size: 12px;
}

.boldtext{
	font-weight:900;
}







.attribution{
	margin-top:40px;
	text-align:center;
	font-size:10px;
}



